{% set title = 'Formulir Pendaftaran Nasabah'%} {% extends 'base.html' %} {%
block content %}

<div class="by-box mb-5">
  <div class="row justify-content-center py-5 py-xxl-10 mx-2">
    <div class="col-xxl-5 col-xl-8">
      <h4 class="text-primary mb-1">Formulir Registrasi</h4>
      <h6 class="card-title mb-4">Informasi data diri sesuai KTP</h6>
      <form action="">
        <div class="mb-3">
          <label for="nik" class="small text-primary mb-1"
            >Masukkan NIK sesuai KTP</label
          >
          <input
            required
            type="text"
            class="form-control text-secondary"
            id="nik"
            name="nik"
            placeholder="Nomor Induk Kependudukan"
          />
        </div>
        <div class="mb-3">
          <label for="namaLengkap" class="small text-primary mb-1"
            >Nama Lengkap</label
          >
          <input
            required
            type="text"
            class="form-control text-secondary"
            id="namaLengkap"
            name="namaLengkap"
            placeholder="Masukkan Nama Lengkap"
          />
        </div>
        <div class="row gx-3">
          <div class="mb-3 col-md-6">
            <label for="tempatLahir" class="small text-primary mb-1"
              >Tempat Lahir</label
            >
            <input
              required
              type="text"
              class="form-control text-secondary"
              id="tempatLahir"
              name="tempatLahir"
              placeholder="Tempat kelahiran"
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="tanggalLahir" class="small text-primary mb-1"
              >Tanggal Lahir</label
            >
            <input
              required
              type="date"
              class="form-control text-secondary"
              id="tanggalLahir"
              name="tanggalLahir"
              placeholder="Tempat Kelahiran"
            />
          </div>
        </div>
        <div class="row gx-3">
          <div class="mb-3 col-md-6">
            <label for="jenisKelamin" class="small text-primary mb-1"
              >Jenis Kelamin</label
            >
            <select name="jenisKelamin" id="jenisKelamin" class="form-select">
              <option selected value="">-- Pilih Jenis Kelamin --</option>
              <option value="Laki-laki">Laki-laki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>
          <div class="mb-3 col-md-6">
            <label for="golonganDarah" class="small text-primary mb-1"
              >Golongan Darah</label
            >
            <input
              required
              type="text"
              class="form-control text-secondary"
              id="golonganDarah"
              name="golonganDarah"
              placeholder="Golongan darah"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="alamat" class="small text-primary mb-1">Alamat</label>
          <textarea
            type="text"
            class="form-control text-secondary"
            id="alamat"
            name="alamat"
            placeholder="Masukkan alamat"
          ></textarea>
        </div>

        <div class="row gx-3">
          <div class="mb-3 col-6 col-md-2">
            <label for="rt" class="small text-primary mb-1">RT</label>
            <input
              required
              type="text"
              class="form-control text-secondary"
              id="rt"
              name="rt"
              placeholder="RT"
            />
          </div>
          <div class="mb-3 col-6 col-md-2">
            <label for="rw" class="small text-primary mb-1">RW</label>
            <input
              required
              type="text"
              class="form-control text-secondary"
              id="rw"
              name="rw"
              placeholder="RW"
            />
          </div>
          <div class="mb-3 col-md-8">
            <label for="provinsi" class="small text-primary mb-1"
              >Provinsi</label
            >
            <select name="provinsi" id="provinsi" class="form-select">
              <option selected value="">-- Pilih Provinsi --</option>
              {% for itm in provinsi %}
              <option value="{{itm.nama}}">{{itm.nama}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row gx-3">
          <div class="mb-3 col-md-6">
            <label for="kabupaten" class="small text-primary mb-1"
              >Kabupaten</label
            >
            <select name="kabupaten" id="kabupaten" class="form-select">
              <option selected value="">-- Pilih Kabupaten/Kota --</option>
              <!-- {% for itm in kota %} -->
              <option value="">{{kota}}</option>
              <!-- {% endfor %} -->
            </select>
          </div>
          <div class="mb-3 col-md-6">
            <label for="kecamatan" class="small text-primary mb-1"
              >Kecamatan</label
            >
            <select name="kecamatan" id="kecamatan" class="form-select">
              <option selected value="">-- Pilih Kecamatan --</option>
            </select>
          </div>
        </div>

        <div class="row gx-3">
          <div class="mb-3 col-md-6">
            <label for="kelurahan" class="small text-primary mb-1"
              >Kelurahan/Desa</label
            >
            <select name="kelurahan" id="kelurahan" class="form-select">
              <option selected value="">-- Pilih Kelurahan/Desa --</option>
            </select>
          </div>
          <div class="mb-3 col-md-6">
            <label for="agama" class="small text-primary mb-1">Agama</label>
            <select name="agama" id="agama" class="form-select">
              <option selected value="">-- Pilih Agama --</option>
            </select>
          </div>
        </div>

        <div class="row gx-3">
          <div class="mb-3 col-md-6">
            <label for="statusPerkawinan" class="small text-primary mb-1"
              >Status Perkawinan</label
            >
            <select
              name="statusPerkawinan"
              id="statusPerkawinan"
              class="form-select"
            >
              <option selected value="">-- Pilih Status Perkawinan --</option>
              <option value="Belum Kawin">Belum Kawin</option>
              <option value="Kawin">Kawin</option>
              <option value="Cerai Hidup">Cerai Hidup</option>
              <option value="Cerai Mati">Cerai Mati</option>
            </select>
          </div>
          <div class="mb-3 col-md-6">
            <label for="pekerjaan" class="small text-primary mb-1"
              >Pekerjaan</label
            >
            <input
              required
              type="text"
              class="form-control text-secondary"
              id="pekerjaan"
              name="pekerjaan"
              placeholder="Masukkan Pekerjaan"
            />
          </div>
        </div>

        <div class="row gx-3">
          <div class="mb-3 col-md-6">
            <label for="ibuKandung" class="small text-primary mb-1"
              >Nama Ibu Kandung</label
            >
            <input
              required
              type="text"
              class="form-control text-secondary"
              id="ibuKandung"
              name="ibuKandung"
              placeholder="Masukkan Nama Ibu Kandung"
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="telepon" class="small text-primary mb-1">Telepon</label>
            <input
              required
              type="text"
              class="form-control text-secondary"
              id="telepon"
              name="telepon"
              placeholder="Masukkan No Telepon"
            />
          </div>
        </div>
        <div class="d-inline-flex">
          <button class="btn btn-primary" type="submit">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    $("#provinsi").change((e) => {
      console.log(this.val());
    });
  });
</script>
{% endblock %}
