{% set title = 'Daftar Provinsi'%} {% extends 'base.html' %} {% block content %}
<style>
  @import url("{{url_for('static',filename='src/css/datatable.css')}}");
  /* body {
    padding: 0px;
    margin: 0px;
  }
  @import url("https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css");
  .dataTables_scrollBody {
    max-height: calc(100vh - 250px) !important;
  }
  .mybtn {
    padding: 2px 8px;
    font-size: 0.7rem;
    border-radius: 3px;
    text-decoration: none;
  }
  .btn-green-o {
    background-color: rgb(231, 255, 231);
    color: rgb(0, 102, 0);
    border: solid 1px rgb(132, 255, 132);
  }
  .btn-green-o:hover {
    background-color: rgb(179, 255, 179);
  }
  .btn-red-o {
    background-color: rgb(255, 231, 231);
    color: rgb(150, 0, 0);
    border: solid 1px rgb(255, 132, 132);
  }
  .btn-red-o:hover {
    background-color: rgb(255, 179, 179);
  }
  .btn-blue-o {
    background-color: rgb(231, 241, 255);
    color: rgb(0, 53, 102);
    border: solid 1px rgb(84, 172, 255);
  }
  .btn-blue-o:hover {
    background-color: rgb(179, 212, 255);
  } */
</style>

<div class="row" style="margin-bottom: 100px">
  <div class="col-1"></div>
  <div class="col-12 col-md-8">
    <div class="row">
      <div class="col">
        <h6 class="mysubtitle">List Data Provinsi</h6>
      </div>
    </div>
    <table
      id="example"
      class="table table-sm table-striped"
      style="width: 100%; font-size: small"
    >
      <thead>
        <tr>
          <th>Kode</th>
          <th>Provinsi</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for itm in provinsi %}
        <tr>
          <td>{{itm.Kode}}</td>
          <td><a href="/data/provinsi/{{itm.id}}">{{itm.Provinsi}}</a></td>
          <td style="text-align: right">
            <a href="/data/provinsi/{{itm.id}}" class="mybtn btn-blue-o"
              >Edit</a
            >
            <a href="/{{ itm.id }}" class="mybtn btn-red-o">Hapus</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Kode</th>
          <th>Provinsi</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="col"></div>
</div>
<div class="mymodal-container open" id="mymodal">
  <div class="mymodal-content col-11 col-sm-8 col-md-6">
    <div class="mymodal-header">
      <h5>Input Data Provinsi</h5>
    </div>
    <div class="mymodal-body">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Input Form
          </button>
          <button
            class="nav-link active"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            Import Data
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          Input FOrm
        </div>
        <div
          class="tab-pane fade show active"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <!-- Tab Pane Import Start -->
          <form
            action="/importdata/provinsi"
            enctype="multipart/form-data"
            method="post"
            name="form-excel"
            id="form-excel"
            class="mt-3"
          >
            <label for="pilih-excel" class="form-label">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="30"
                height="30"
                viewBox="0 0 48 48"
                style="fill: #000000"
              >
                <path
                  fill="#169154"
                  d="M29,6H15.744C14.781,6,14,6.781,14,7.744v7.259h15V6z"
                ></path>
                <path
                  fill="#18482a"
                  d="M14,33.054v7.202C14,41.219,14.781,42,15.743,42H29v-8.946H14z"
                ></path>
                <path
                  fill="#0c8045"
                  d="M14 15.003H29V24.005000000000003H14z"
                ></path>
                <path fill="#17472a" d="M14 24.005H29V33.055H14z"></path>
                <g>
                  <path
                    fill="#29c27f"
                    d="M42.256,6H29v9.003h15V7.744C44,6.781,43.219,6,42.256,6z"
                  ></path>
                  <path
                    fill="#27663f"
                    d="M29,33.054V42h13.257C43.219,42,44,41.219,44,40.257v-7.202H29z"
                  ></path>
                  <path
                    fill="#19ac65"
                    d="M29 15.003H44V24.005000000000003H29z"
                  ></path>
                  <path fill="#129652" d="M29 24.005H44V33.055H29z"></path>
                </g>
                <path
                  fill="#0c7238"
                  d="M22.319,34H5.681C4.753,34,4,33.247,4,32.319V15.681C4,14.753,4.753,14,5.681,14h16.638 C23.247,14,24,14.753,24,15.681v16.638C24,33.247,23.247,34,22.319,34z"
                ></path>
                <path
                  fill="#fff"
                  d="M9.807 19L12.193 19 14.129 22.754 16.175 19 18.404 19 15.333 24 18.474 29 16.123 29 14.013 25.07 11.912 29 9.526 29 12.719 23.982z"
                ></path>
              </svg>
              Import from Excel</label
            >
            <input
              type="file"
              name="pilih-excel"
              id="pilih-excel"
              accept=".xls, .xlsx, .xlsb"
              class="form-control form-control-sm"
            />
            <input type="text" name="oks" id="oks" />
            <button
              id="btn-pilih-excel"
              type="submit"
              class="btn btn-sm btn-warning form-control mt-2"
            >
              Import
            </button>
          </form>
          <div class="mt-3">
            <label for="formFileSm" class="form-label">
              <img src="https://img.icons8.com/color/30/000000/csv.png" />
              Import from Csv</label
            >
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              accept=".csv"
            />
            <button class="btn btn-sm btn-warning form-control mt-2">
              Import
            </button>
          </div>
          <!-- Tab Pane Import Start -->
        </div>
      </div>
    </div>
    <div class="mymodal-footer grid">
      <button class="btn btn-sm btn-primary m-1">Save</button>
      <button class="btn btn-sm btn-secondary m-1" close-modal>close</button>
    </div>
  </div>
</div>
{% include 'style/datatable.html' %}
<script>
  $(document).ready(function () {
    $("#example").DataTable({
      paging: false,
      info: false,
      scrollY: 300,
      scrollCollapse: true,
    });
    addDataTableModalButton("example", "#mymodal", "Tambah");

    // $("#btn-pilih-excel").click((e) => {
    //   e.preventDefault();
    //   let form = $("#form-excel");
    //   let fmFile = $("#form-excel").prop("pilih-excel");
    //   var fm = new FormData();
    //   fm.append("pilih-excel", fmFile);

    //   $.ajax({
    //     type: "post",
    //     url: "/importdata/provinsi",
    //     data: form.serialize(),
    //     success: (data) => {
    //       console.log({ data });
    //     },
    //     error: (er) => {
    //       console.log({ er });
    //     },
    //   });
    // });
  });
</script>
{% endblock %}
